.text-zone {
  // position: absolute;
  // left: 20%;
  // top: 50px;
  margin-top: 50px;
  margin-left: 100px;
  h1 {
    font-size: 40px;
    font-family: 'Coolvetica';
    color: var(--yellow);
    font-weight: 400;
    margin-bottom: 10px;

    // &::before {
    //   content: '<h1>';
    //   font-family: 'La Belle Aurore';
    //   font-size: 18px;
    //   position: absolute;
    //   margin-top: -10px;
    //   left: -10px;
    //   opacity: 0.6;
    //   line-height: 18px;
    // }

    .text-animate-hover {
      &:hover {
        color: #fff;
      }
    }
  }
}

.flat-button {
  color: #ffd700;
  background: 0 0;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 3px 8px;
  border: 1px solid #ffd700;
  border-radius: 12px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  transition: all 1s ease-in-out;

  &:hover {
    background-color: #ffd700;
    color: #333;
  }
}

.portfolio-container {
  width: var(--container-width-lg);
  margin: 0 auto;

  animation: fadeIn 1s forwards;
  animation-delay: 1s;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.portfolio-item {
  background-color: var(--offBlack);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 1s ease-in-out;
  &:hover {
    border-color: var(--yellow);
    // background: transparent;
    box-shadow: var(--darkShadow);
  }
  h3 {
    margin: 1rem 1rem;
    color: var(--yellow);
    span {
      color: var(--white);
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    // margin-bottom: 1rem;
    // background-color: aqua;
  }
}

.portfolio-item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

section {
  margin-top: 50px;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
