.text-zone {
  // position: absolute;
  // left: 20%;
  // top: 50px;
  margin-top: 50px;
  margin-left: 100px;
  h1 {
    font-size: 40px;
    font-family: 'Coolvetica';
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: 10px;

    // &::before {
    //   content: '<h1>';
    //   font-family: 'La Belle Aurore';
    //   font-size: 18px;
    //   position: absolute;
    //   margin-top: -10px;
    //   left: -10px;
    //   opacity: 0.6;
    //   line-height: 18px;
    // }

    .text-animate-hover {
      &:hover {
        color: #fff;
      }
    }
  }
}

.flat-button {
  color: var(--primary-color);
  background: 0 0;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 2px 4px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 1s ease-in-out;

  &:hover {
    background-color: var(--primary-color);
    color: #333;
  }
}

.portfolio-container {
  width: var(--container-width-lg);
  margin: 0 auto;

  animation: fadeIn 1s forwards;
  animation-delay: 1s;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.7rem;
}

.portfolio-item {
  background-color: var(--offBlack);
  padding: 1rem;
  padding-bottom: 0.7rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 1s ease-in-out;
  &:hover {
    border-color: var(--primary-color);
    box-shadow: var(--darkShadow);
  }
  h3 {
    margin: 0.5rem 0.5rem;
    color: var(--primary-color);
    span {
      color: var(--white);
      font-size: 1.1rem;
      font-weight: 400;
    }
  }
  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .pro-buttons {
    display: flex;
    justify-content: space-around;
  }
}

.portfolio-item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
  body {
    overflow: scroll;
  }

  .portfolio-container {
    width: var(--container-width-md);
    grid-template-columns: repeat(2, 1fr);
    margin-left: 90px;
    gap: 1.4rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 767px) {
  body {
    overflow: scroll;
  }

  .portfolio-container {
    width: var(--container-width-sm);
    grid-template-columns: 1fr;
    // margin: auto;
    margin-left: 80px;
  }
}
