.letter-image {
  position: absolute;
  top: 87%;
  left: 20%;
  width: 180px;
  height: 90px;
  cursor: pointer;
  animation: zoomInDown 5s;
}

.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  transition: 0.4s;

  .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #ebc834 transparent;
    z-index: 2;
  }

  .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #dfbb00 transparent transparent transparent;
    z-index: 2;
  }

  .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #d0ad00;
    z-index: 0;
  }

  .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #ffd700;
    z-index: 2;
  }

  .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: var(--darkGray);
    z-index: 1;
    overflow: hidden;
    transition: 0.4s 0.2s;
    .letter-title {
      margin-top: 10px;
      margin-left: 5px;
      height: 3px;
      width: 90%;
      background: var(--primary-color);
    }
    .letter-context {
      height: 10px;
      p {
        color: #fff;
        font-weight: 500;
        font-size: 23px;
        margin-left: 12px;
        margin-top: 5px;
      }
    }

    .letter-stamp {
      margin-top: 45px;
      margin-left: 100px;
      border-radius: 100%;
      border: 1px solid var(--white);
      padding-top: 6px;
      height: 32px;
      width: 42px;
      background: var(--primary-color);
      p {
        font-weight: bold;
        margin-left: 1px;
        color: var(--offBlack);
      }
    }
  }
}

.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.letter-image:hover {
  .animated-mail {
    transform: translateY(50px);
  }

  .animated-mail .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    z-index: 0;
  }

  .animated-mail .letter {
    height: 180px;
  }

  .shadow {
    width: 250px;
  }
}
