.container.about-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 35%;

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        margin-left: 20px;
        opacity: 0.6;
        left: -30px;
        bottom: -20px;
      }
    }
    p {
      font-size: 17px;
      color: #fff;
      font-weight: 300;
      min-width: fit-content;
      animation: rubberBand 2s;
      &:nth-of-type(1) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(2) {
        animation-delay: 1s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.5s;
      }
      &:nth-of-type(4) {
        animation-delay: 2s;
      }
    }
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

.stage-cube-cont {
  width: 50%;
  height: 50%;
  top: 0;
  padding-top: 10%;
  margin-left: 0;
  position: absolute;
  right: 0;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 0.5px solid var(--primary-color);
    background: var(--primary-transperent);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 18px 0px lightyellow;
  }

  .face1 {
    color: #5ed4f4;
    // transform: translateZ(100px);
    transform: rotateY(-180deg) rotateX(-180deg) translateZ(75px);
  }
  .face2 {
    color: #525252c3;
    transform: rotateY(90deg) translateZ(75px);
  }
  .face3 {
    color: #a92a2cb8;
    transform: rotateY(90deg) rotateX(90deg) translateZ(75px);
  }
  .face4 {
    color: #efd81d;
    transform: rotateY(180deg) rotateZ(90deg) translateZ(75px);
  }
  .face5 {
    color: #d82d2f;
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(75px);
  }
  .face6 {
    color: greenyellow;
    // transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) rotateX(-90deg) translateZ(75px);
  }
}

.stage-cube-cont2 {
  width: 50%;
  height: 50%;
  top: 40%;
  padding-top: 12%;
  margin-left: 0;
  position: absolute;
  right: 0;
}
.cubespinner2 {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 0.5px solid var(--primary-color);
    background: var(--primary-transperent);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 18px 0px lightyellow;
  }

  .face1 {
    color: #563d7c;
    transform: rotateY(-180deg) rotateX(-180deg) translateZ(75px);
  }
  .face2 {
    color: #f06529;
    transform: rotateY(90deg) translateZ(75px);
  }
  .face3 {
    color: #28a4d9;
    transform: rotateY(90deg) rotateX(90deg) translateZ(75px);
  }
  .face4 {
    color: #f75eee;
    transform: rotateY(180deg) rotateZ(90deg) translateZ(75px);
  }
  .face5 {
    color: #2ea3f7;
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(75px);
  }
  .face6 {
    color: #c65e92;
    transform: rotateY(-90deg) rotateX(-90deg) translateZ(75px);
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  75% {
    transform: rotateY(-90deg) rotateX(90deg) rotateZ(90deg);
  }
}

/* ========== TECHNOLOGIES ========== */
.tech-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 40px 0;
  // animation: animate__backInLeft 4s forwards;
  // animation: backInLeft 4s forwards;

  .tech-item {
    .tech-image {
      img {
        width: 40px;
        height: 40px;
      }
    }

    transform: scale(0);
    opacity: 0;
    // animation: name duration timing-function delay iteration-count direction fill-mode;

    // animation: popUp 4s 1s forwards;
    animation: popUp 6s forwards;

    @keyframes popUp {
      from {
        transform: scale(0);
        opacity: 0;
      }
      to {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
  .container.about-page {
    .text-zone {
      // margin-top: 20px;
      // left: 10%;
      top: 20%;
    }
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 767px) {
  .stage-cube-cont,
  .stage-cube-cont2 {
    display: none;
  }
}
