.home-page {
  .text-zone {
    margin: 300px 10px 10px 170px;
    position: absolute;
    left: 7%;
    // top: 50%;
    // transform: translateY(-50%);
    // width: 40%;
    // max-height: 90%;

    h1 {
      color: var(--primary-color);
      font-size: 50px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;

      // animation: name duration timing-function delay iteration-count direction fill-mode;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: var(--primary-color);
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: 15px;
        opacity: 0.6;
      }

      // &::after {
      //   content: '</h1>';
      //   font-family: 'La Belle Aurore';
      //   color: var(--primary-color);
      //   font-size: 18px;
      //   position: absolute;
      //   margin-top: 18px;
      //   margin-left: 20px;
      //   opacity: 0.6;

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        color: var(--primary-color);
        font-size: 18px;
        position: absolute;
        margin-top: 70px;
        margin-left: -300px;
        opacity: 0.6;
      }
      // animation: name duration timing-function delay iteration-count direction fill-mode;
      img {
        width: 92px;
        margin-left: 20px;
        opacity: 0;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
      }
    }
  }

  h2 {
    color: var(--white);
    margin-top: 40px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 3px;
    animation: fadeIn 1s 3.8s backwards;
  }

  .flat-button {
    color: var(--primary-color);
    border-radius: 10px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    padding: 10px 16px;
    border: 1px solid var(--primary-color);
    margin-top: 25px;
    // float: left;
    white-space: nowrap;
    cursor: pointer;
    transition: all 1s ease-in-out;

    &:hover {
      background-color: var(--primary-color);
      color: var(--dark-gray);
    }
  }
  .CV {
    margin-left: 16px;
  }

  .home-buttons {
    display: flex;
  }

  .cube-zone {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;

    @keyframes rotating {
      0% {
        transform: rotate3d(1, 2, 0, 0deg);
      }
      100% {
        transform: rotate3d(1, 2, 0, 360deg);
      }
    }

    .rotating {
      animation: rotating 8s linear infinite;
    }

    .box-container {
      width: 300px;
      height: 300px;
      position: absolute;
      perspective: 1200px;
      top: 50%;
      left: 50%;
      margin-left: -165px;
      margin-top: -165px;
    }

    .text {
      color: var(--primary-color);
      bottom: 5px;
      font-family: Verdana, sans-serif;
      text-align: center;
      display: inline-block;
      padding: 12px;
      margin-top: 120px;
    }

    .box {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
    }

    .box .wall {
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
      position: absolute;
      border: 1px solid whitesmoke;
      background: rgba(0, 0, 0, 0.6);
    }

    .box-1 .wall-1 {
      transform: rotateY(0deg) translateZ(150px);
    }
    .box-1 .wall-2 {
      transform: rotateX(90deg) translateZ(150px);
    }
    .box-1 .wall-3 {
      transform: rotateY(-90deg) translateZ(150px);
    }
    .box-1 .wall-4 {
      transform: rotateY(90deg) translateZ(150px);
    }
    .box-1 .wall-5 {
      transform: rotateX(-90deg) translateZ(150px);
    }
    .box-1 .wall-6 {
      transform: rotateY(180deg) translateZ(150px);
    }

    /* Box 2 */

    // .box-2 {
    //   width: 54%;
    //   height: 54%;
    //   left: 50%;
    //   top: 50%;
    //   margin-left: -27%;
    //   margin-top: -27%;
    //   -webkit-animation-duration: 4s;
    //   animation-duration: 4s;
    // }
    .box-2 {
      width: 54%;
      height: 54%;
      left: 50%;
      top: 50%;
      margin-left: -27%;
      margin-top: -27%;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      img {
        height: 50%;
        margin-top: 27%;
        opacity: 0.4;
      }
    }

    .box-2 .wall {
      background: rgba(176, 176, 176, 0.6);
    }

    .box-2 .wall-1 {
      transform: rotateY(0deg) translateZ(80px);
    }
    .box-2 .wall-2 {
      transform: rotateX(90deg) translateZ(80px);
    }
    .box-2 .wall-3 {
      transform: rotateY(-90deg) translateZ(80px);
    }
    .box-2 .wall-4 {
      transform: rotateY(90deg) translateZ(80px);
    }
    .box-2 .wall-5 {
      transform: rotateX(-90deg) translateZ(80px);
    }
    .box-2 .wall-6 {
      transform: rotateY(180deg) translateZ(80px);
    }

    /* Box 2 */

    .box-3 {
      width: 30%;
      height: 30%;
      left: 50%;
      top: 50%;
      margin-left: -15%;
      margin-top: -15%;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
    }

    .box-3 .wall {
      background: var(--primary-color);
      box-shadow: 0 0 88px 7px rgb(255, 255, 255);
    }

    .box-3 .wall-1 {
      transform: rotateY(0deg) translateZ(25px);
    }
    .box-3 .wall-2 {
      transform: rotateX(90deg) translateZ(25px);
    }
    .box-3 .wall-3 {
      transform: rotateY(-90deg) translateZ(25px);
    }
    .box-3 .wall-4 {
      transform: rotateY(90deg) translateZ(25px);
    }
    .box-3 .wall-5 {
      transform: rotateX(-90deg) translateZ(25px);
    }
    .box-3 .wall-6 {
      transform: rotateY(180deg) translateZ(25px);
    }
  }
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
  .home-buttons {
    flex-direction: column;
    align-items: center;
  }

  .box,
  .tags {
    display: none;
  }
  .home-page .text-zone {
    position: absolute;
    // left: 10%;
    // top: 30%;
    margin: 170px 10px 10px 90px;
    h1 {
      font-size: 22px;
      font-weight: 200;
    }

    img {
      width: 50px;
      margin-left: -50px;
      opacity: 0;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
}
