.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background-color: #555555;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    background-color: #555555;
    height: 50px;
    font-size: 16px;
    color: #fff;
    border: 0;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }
  .flat-button {
    color: #ffd700;
    background: 0 0;
    font-size: 12px;
    letter-spacing: 5px;
    padding: 8px 12px;
    border: 1px solid #ffd700;
    border-radius: 12px;
    float: right;
    cursor: pointer;
    transition: all 1s ease-in-out;

    &:hover {
      background-color: #ffd700;
      color: #333;
    }
  }
}
