.hero {
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
}
.contact-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .text-zone {
    margin: 140px 10px 10px 120px;
    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: var(--primary-color);
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        margin-left: 20px;
        opacity: 0.6;
        left: -30px;
        bottom: -20px;
      }
    }
    p {
      font-size: 19px;
      color: #fff;
      font-weight: 300;
      min-width: fit-content;
    }
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
  .contact-options {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin: 140px 100px 10px 120px;
    .contact-card {
      margin: 20px;
      padding: 20px;
      animation: backInDown 2s;
      animation-fill-mode: forwards;
      background-color: var(--offBlack);
      box-shadow: var(--darkShadow);
      border-radius: 2rem;
      border: 1px solid var(--primary-transperent);
      transition: all 1s ease-in-out;
      &:hover {
        border-color: var(--primary-color);
        box-shadow: none;
      }
      h4 {
        margin: 0px 0px 8px 2px;

        color: var(--primary-color);
        font-size: 16px;
      }
      h5 {
        color: var(--white);
        font-size: 16px;
        margin-bottom: 10px;
      }
      svg {
        color: var(--primary-color);
        font-size: 20px;
        margin-right: 30px;
      }
      a {
        font-size: 12px;
      }
    }
  }
}

.contact-form {
  width: 100%;
  margin-top: 50px;
  color: var(--primary-color);

  form {
    &::before {
      content: '<form>';
      font-family: 'La Belle Aurore';
      font-size: 18px;
      position: absolute;
      margin-top: -25px;
      left: 120px;
      opacity: 0.6;
      line-height: 18px;
    }

    &::after {
      content: '</form>';
      font-family: 'La Belle Aurore';
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      margin-left: 20px;
      opacity: 0.6;
      left: 105px;
      bottom: 42px;
    }
  }

  ul {
    // padding: 0;
    // margin: 0;

    li {
      // padding: 0;
      // margin: 0;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background-color: var(--off-gray);
    height: 50px;
    font-size: 16px;
    color: var(--white);
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    background-color: var(--off-gray);
    height: 50px;
    font-size: 16px;
    color: var(--white);
    border: 0;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }
  .flat-button {
    color: var(--primary-color);
    background: 0 0;
    font-size: 15px;
    letter-spacing: 8px;
    padding: 10px 18px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    float: right;
    cursor: pointer;
    transition: all 1s ease-in-out;

    &:hover {
      background-color: var(--primary-color);
      color: var(--dark-gray);
    }
  }
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
  .contact-page {
    .text-zone {
      // margin-left: 120px;
      margin: 40px 100px 10px 80px;
    }
    // display: grid;
    // grid-template-rows: auto;
    grid-template-columns: 1fr;
    svg {
      display: none;
    }
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 768px) {
}
