* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --primary-color: #ffd700;
  --primary-transperent: #ffd9000c;
  --white: #fff;
  --gray: #808080;
  --off-gray: #555555;
  --dark-gray: #333;
  --mainBlack: #4d4d4d;
  --offBlack: #767676;
  --mainGray: #ececec;
  --darkGray: #cfcfcf;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-dark: rgba(0, 0, 0, 0.5);
  --text-color: #0a0a0a;
  --text-light: #575757;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --lightShadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.4);

  --darkShadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.8);

  --container-width-lg: 70%;
  --container-width-md: 86%;
  --container-width-sm: 75%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background-color: var(--mainBlack);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ::-webkit-scrollbar {
  display: none;
} */

/* // 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV */

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 768px) {
}
/* ---------/////////////////////////////////////////////////---------------  */
