* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow: #ffd700;
  --white: #fff;
  --gray: #808080;
  --blue: #022c43;

  /* --mainBlack: #555555; */
  --mainBlack: rgba(77, 77, 77);

  --offBlack: #767676;

  --mainWhite: #fff;

  --mainGrey: #ececec;

  --darkGrey: #cfcfcf;

  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-dark: rgba(0, 0, 0, 0.5);

  --text-color: #0a0a0a;
  --text-light: #575757;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --lightShadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.4);

  --darkShadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.6);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background-color: var(--mainBlack);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
